<% var title = 'トップページのタイトルタグ'; %>
<% var description = 'トップページのディスクリプション'; %>
<% var path = '.'; %>
<% include common/_header %>

<!-- content -->
<div id="content">
  <div class="inner">
    <div class="wrap">
      <div class="cont">
        <h1>
          SignUp!
        </h1>
        <div class="logo">
          <div class="upload">
            <label class="upFile" for="file_photo">
              <% include component/icon_Camera %>
              <!-- 	＋写真を選択 -->
              <input type="file" id="file_photo" style="display:none;">
            </label>
          </div>
        </div>

        <form action="" class="formArea">
          <div class="input name">
            <input type="text" name="" value="" placeholder="Name">
          </div>

          <div class="signUp">
            <input type="text" name="" value="" placeholder="Creater Name">
          </div>

          <div class="selectGroup">
            <select class="minimal" name="">
              <option value="a">a</option>
              <option value="a">a</option>
            </select>
          </div>
          <!-- /.selectGroup -->
        </form>
        <!-- /.formArea -->

        <div class="cancel tx_center">
          <p><a href="/">Cancel</a></p>
        </div>

      </div>
    </div>

  </div><!-- /inner -->
</div><!-- /content -->
