<% var title = 'トップページのタイトルタグ'; %>
<% var description = 'トップページのディスクリプション'; %>
<% var path = '.'; %>
<% include common/_header %>

<!-- content -->
<div id="content">
  <div class="inner">
    <div class="wrap">



    </div>
  </div><!-- /inner -->
</div><!-- /content -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.8/interact.min.js"></script>

<% include common/_footer %>
